server {
    listen 80;
    server_name _;

    root /var/www/travelmemory;
    index index.html;

    location / {
        try_files $uri /index.html;
    }

    location /trip/ {
        proxy_pass http://127.0.0.1:3000/trip/;

        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /hello {
        proxy_pass http://127.0.0.1:3000/hello;

        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
